#Working with CSV Files

In [ ]:
import pandas as pd
import numpy as np

#Reading downloded CSV file

In [ ]:
df=pd.read_csv('/content/cars.csv')

#Reading from url

In [ ]:
import requests
from io import StringIO

url=''
header={'User-Agent':"Mozilla/5.0"}
req=requests.get(url,headers=header)
data=StringIO(req.text)

pd.read_csv(data)

In [ ]:
dff=pd.read_csv('/content/movie_titles_metadata.tsv',sep='\t')
dff.head(5)

,m0,10 things i hate about you,1999,6.90,62847,['comedy' 'romance']
0,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
1,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
2,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
3,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']
4,m5,the fifth element,1997,7.5,133756.0,['action' 'adventure' 'romance' 'sci-fi' 'thri...

#1)sep , names
##      Column names are not specified so we will use 'names' parameter of read_csv() function in order to define the names

## There can be many types of separators ->
### 1) ,(default)
### 2)';' 'tab'->sep='\t'
### 3)';'->sep=';'

In [ ]:
dff=pd.read_csv('/content/movie_titles_metadata.tsv',sep='\t',names=['serno','name','release year','ratings','votes','genres'])
dff.head(5)

,serno,name,release year,ratings,votes,genres
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']

#2)index_cols=' '
## When we want to change the default index to a particular column we use index_col() parameter

In [ ]:
dff=pd.read_csv('/content/movie_titles_metadata.tsv',sep='\t',index_col='serno',names=['serno','name','release year','ratings','votes','genres'])
dff.head(5)

,name,release year,ratings,votes,genres
serno,,,,,
m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']

#3)header=1

## Sometimes the column name is also taken as row so we need to make it back column header then we need to use header=1

In [ ]:
df3=pd.read_csv('/content/test.csv')
df3.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,0,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
1,1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0
2,2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0
3,3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1
4,4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0

In [ ]:
pd.read_csv('/content/test.csv',header=1)

,0,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0
1,2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0
2,3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1
3,4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0

#4)usecols=[ ] and usecols=[ ],squeeze=True


##usecols=[ ],squeeze=True-> When we want only one column

## Many often we are given a large number of features of which not many are requires so we use usecols parameter to specifiv the columns

In [ ]:
pd.read_csv('/content/test.csv',header=1,usecols=['enrollee_id','gender'])

   enrollee_id gender
0        29725   Male
1        11561    NaN
2        33241    NaN
3          666   Male

#5) Skiprows/nrows

##When we want to skip rows and nrow when we want only particular number of rows from dataset

In [ ]:
pd.read_csv('/content/cars.csv',nrows=1000)

       brand  km_driven    fuel         owner  selling_price
0     Maruti     145500  Diesel   First Owner         450000
1      Skoda     120000  Diesel  Second Owner         370000
2      Honda     140000  Petrol   Third Owner         158000
3    Hyundai     127000  Diesel   First Owner         225000
4     Maruti     120000  Petrol   First Owner         130000
..       ...        ...     ...           ...            ...
995   Maruti      40000  Petrol   First Owner         350000
996     Tata      40000  Diesel   First Owner         100000
997     Tata     120000  Diesel   First Owner         325000
998   Maruti     360003  Petrol  Second Owner         220000
999   Maruti      60000  Petrol  Second Owner          55000

[1000 rows x 5 columns]

##6) Encoding Parameters

In [ ]:
pd.read_csv('/content/zomato.csv',encoding='latin-1')

UnicodeDecodeError: ignored

#7) Parser Error- error_bad_lines=False

##When there are 5 columns but have 6 values at that time pandas will not be an=ble to read CSV file so we use error_bad_lines parameter

In [ ]:
pd.read('file_name',error_bad_lines=False)

AttributeError: ignored

#8) dtype

##It is uesd to change the data type of columns

In [ ]:
df=pd.read_csv('/content/aug_train.csv')
df.sample(3)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
6267,29627,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,15,NaN,NaN,2,87,0.0
18345,32071,city_16,0.910,Male,No relevent experience,Full time course,Graduate,STEM,4,50-99,Pvt Ltd,1,9,1.0
15296,7392,city_61,0.913,Male,Has relevent experience,no_enrollment,Masters,STEM,7,100-500,Pvt Ltd,1,84,0.0

In [ ]:
pd.read_csv('/content/aug_train.csv',dtype={'target':int}).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

In [ ]:
df['target'].astype(int)

0        1
1        0
2        0
3        1
4        0
        ..
19153    1
19154    1
19155    0
19156    0
19157    0
Name: target, Length: 19158, dtype: int64

#9)Handling Dates

##parse_dates=[column_names]

In [ ]:
pd.read_csv('/content/IPL Matches 2008-2020.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

##Here the dates column is identified as String so we need to convert it into date format

In [ ]:
pd.read_csv('/content/IPL Matches 2008-2020.csv',parse_dates=['date']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    datetime64[ns]
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(13)
memory usage: 108.5+ KB

#10)Converters

#They are used when we want to apply python function on dateset columns

In [ ]:
pd.read_csv('/content/IPL Matches 2008-2020.csv').head(2)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri

In [ ]:
def rename(name):

  res = ""
  for i in range(len(name)):
    if i == 0:
      res += name[i].upper()
    elif name[i] == " ":
      res += name[i + 1].upper()
  return res

In [ ]:
pd.read_csv('/content/IPL Matches 2008-2020.csv',converters={'team1':rename}).head(3)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,RCB,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,KXP,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,DD,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar

#11) na_values: This is used when we want to consider a set of values as Nan

##In some case the missing values are not specified as Nan but [- , % ] or any other such value is used so we can consider them as Nan values

In [ ]:
pd.read_csv('',na_values=['-'])

#12) Loading data set into chunks

##Many times when we have big dataset we can divide it into chunks by specifiying chunksize

In [ ]:
pd.read_csv('/content/aug_train.csv').shape

(19158, 14)

In [ ]:
df=pd.read_csv('/content/aug_train.csv',chunksize=5000)

In [ ]:
for i in df:
  print(i.shape)

(5000, 14)
(5000, 14)
(4158, 14)